h1 {
    text-align: center;
  }
.h1{
    height: 400px;
    background-image: url("ima(3)/img/firstview");
}
h2{
    text-align: center;
  }
  .item1 {
    width: 150px;
    height: 150px;
    float: left;
  }
  .item2 {
    width: 150px;
    height: 150px;
    float: left;
  }
  .item3 {
    width: 150px;
    height: 150px;
    float: left;
  }
